@import url('./main.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  ::selection {
    color: #fff;
    background-color: #20ac5a;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #20ac5a;
  }

   /* Menú del login */
   .navbar {
    border-radius: 1px;
    margin-top: 30px;
    position: absolute;
    width: 95%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    margin-left: 50%;
      -ms-transform: translate(-50%);
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
  }
  
  .nav-link {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
  }
  
  .nav-link:hover {
    color: #1bbb23;
  }
  
  .menu ul ul a {
    line-height: 100%;
    padding: 10px 15px;
  }
  
  .menu ul li:hover > ul {
    display: block;
  }
  .menu ul li ul a:hover{
    background-color: #3371ce;
    color: #fff;
  }
  
  .menu-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719) !important;
  }
  
 /* End Menú del login */

  /* Login */

  .section_index {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg.jpg");
  }
  
  .bg_trans {
    background-color: rgba(7, 7, 7, 0.466);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cont_sect_index {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
.text {
    color: #fff;
    margin-right: 15%;
  }
  
  .text h1 {
    font-size: 60px;
    font-style: bold;
    margin-top: 20px;
  }
  
  .text h6 {
    font-size: 18px;
    opacity: 0;
    animation: animation-titulo 1s;
    -webkit-animation: animation_titulo 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }
  
  .text p {
    margin-top: 20px;
    opacity: 0;
    animation: animation-titulo 1s;
    -webkit-animation: animation_titulo 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
  }

  .login-box {
    width: 340px;
    height: auto;
    background: rgba(0, 0, 0, 0.541);
    color: #fff;
    transform: translate(0, 0);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 140px;
    height: 110px;
    position: absolute;
    top:  18px;
    left: calc(60% - 100px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
  }

  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    top: -40px;
    margin-top: 80px;
  }

  .login-box .lbl-pass {
    margin-top: 20px;
  }
  
  .login-box input {
    width: 100%;
  }
  
  .login-box input[type="email"],
  .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box .btn_login {
    border: none;
    outline: none;
    height: 40px;
    background: #3371ce;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;
    margin-top: 35px;
  }
  
  .login-box .btn_login:hover {
    cursor: pointer;
    background: #1bbb23;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  
  ::placeholder {
    color: rgb(131, 131, 131);
    opacity: 1;
  }
  
  .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
  }

/* End login */

.form-list{
  display: inline-block;
}
.select-reg{
  width: 100%;
  padding: 4px;
  margin-top: 5px;
  cursor: pointer;
}
.btn-exit-system{
  background-color: #00000000;
  border: none;
}
.img1{
  width: 160px;
  height: 120px;
  border: 1px #000 solid;
}

.caja {
  margin:20px auto 40px auto;	
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
  width: 230px;
  position:relative;
}
select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
}
select:focus{ outline: none;}

.caja::after{
 content:"\025be";
 display:table-cell;
 padding-top:7px;
 text-align:center;
 width:30px;
 height:30px;
 background-color:#d9d9d9;
 position:absolute;
 top:0;
 right:0px;	
 pointer-events: none;
}